<html>
  <head>
    <title>Fwitter - Flatiron Twitter</title>

    <!-- Stylesheets -->
    <link href="<%= url('/css/bootstrap.min.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div class="container">

      <% unless locals.empty? %>
        <%= message %>
      <% end %>
    
      <% if is_logged_in? %>
      <div class="btn-group-vertical">
          <button class="navigation_btn"><a href="/users/<%= current_user.slug %>">Profile</a></button>
          <button class="navigation_btn"><a href="/tweets/new">New Tweet</a></button>

          <button class="navigation_btn"><a href="/users">Users</a></button>
          <button class="navigation_btn"><a href="/tweets">Tweets</a></button>
          
          <button class="navigation_btn"><a href="/logout">Logout</a></button>
        </div>
      <% end %>
      <%= yield %>

    </div>


  </body>
</html>